**Let's Start**

In [ ]:
'Hello, World!'

**Numbers**

In [ ]:
# Boolean
print(True)
print(False)
print(not True)
print(True and False)
print(True or False)
print(True + True)
print(False * 10)

In [ ]:
# Arithmatic
print(1+3) # plus
print(2-1) # minus
print(3*6) # multiply
print(2**3) # power
print(17/3) # divide
print(17//3) # floor divide
print(10%3) #modulo
print(abs(-5)) #absolute
print(max(6,5)) #max value

**Sequences**

In [ ]:
# String
text = 'Image Processing in medical'
print(text.split(' '))
print(text.upper())
print(text.lower())
print(text.replace('in medical', 'with Python'))
print(text[:5])
print(text[1:4] + text[13] + text[-3])
print(len(text))

In [ ]:
# List
basket = ['Apple', 'Banana', 'Coconut', 'Durian']
print(basket[0])
print(basket[-1])
print(basket[2:])

In [ ]:
basket.pop()
basket

In [ ]:
basket.append('Papaya')
basket

In [ ]:
basket.insert(2, 'Cherry')
basket

In [ ]:
basket.remove('Coconut')
basket

In [ ]:
numbers = [1, 3, 5, 7, 9]
basket + numbers + text.split(' ')

**If statement**

In [ ]:
if 1 in range(10):
  print('condition match')

In [ ]:
x = [0]
y = [0]

if not x:
  print('not x')
elif x is y:
  print('x is y')
elif x == y:
  print('x == y')
else:
  print('no match')

In [ ]:
text = 'this is True' if 1 and 0 else 'this is False'
text

**For statement**

In [ ]:
for i in [5, 4, 3, 2, 1, 2, 3, 4, 5]:
  print('x' * i)

In [ ]:
text = 'Image Processing in medical'
for i, c in enumerate(text):
  print(i, c)
  if c == ' ':
    break

**Example**) Print odds.

In [ ]:
question = range(15)

In [ ]:
odds = []
for i in question:
  if i % 2:
    odds.append(i)
odds

In [ ]:
odds = []
for i in question:
  odds += [i] if i % 2 else []
odds

In [ ]:
[i for i in question if i % 2]

**Exercise 1.)** Calculate factorial of these numbers.
1.   5
2.   15
3.   25

**Exercise 2.)** Get prime numbers from these lists.
1.   [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ]
2.   [ 8830, 8831, 8832, 8833, 8834, 8835, 8836, 8837, 8838, 8839 ]
3.   [ -37, 3/7, 7//3, ‘3’, 7, 7.3, 3+7, 37, 73, 703 ]